{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Buktopuha @ {{ constant('PHP_VERSION') }}</h1>
                {% if activeGames|length > 0 %}
                <h3>Active games: </h3>
                <div>
                    {% for game in activeGames %}
                        {% set ul = game.users|length %}
                        <div><a href="http://telegram.me/{{ game.publicLink }}">{{ game.title }} ({% transchoice ul %}{0}No players|{1}1 player|]1,Inf]%ul% players{% endtranschoice %})</a></div>
                    {% endfor %}
                </div>
                {% else %}
                    <blockquote>No active games currently. You can invite bot to your group, or start a game in inactive group, where bot sits already. Do that by typing <b>/start</b> in some of groups below.</blockquote>
                {% endif %}
                {% if inactiveGames|length > 0 %}
                <h3>Inactive games: </h3>
                <div>
                    {% for game in inactiveGames %}
                        {% set ul = game.users|length %}
                        {% if game.publicLink %}
                            <div><a href="http://telegram.me/{{ game.publicLink }}">{{ game.title }} ({% transchoice ul %}{0}No players|{1}1 player|]1,Inf]%ul% players{% endtranschoice %})</a></div>
                        {% else %}
                            <div>{{ game.title }} ({% transchoice ul %}{0}No players|{1}1 player|]1,Inf]%ul% players{% endtranschoice %})</div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="releaseinfo">
        Release #{{ base_dir }}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; font-weight: 300; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; font-weight: 300; }
    h3 {font-weight: 300; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; border-radius: 10px; }
    #container { padding: 2em;  }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .releaseinfo { text-align: center; font-size: 12px; color: #8c8c8c}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
